html,
body,
#root {
  font-family: 'Lato', sans-serif;
}

body,
.App {
  background: #F2F2F2;
}

a {
  text-decoration: none;
}

/* ------------------------------------ */
/* -------------HEADER/HERO------------ */
/* ------------------------------------ */

.hero {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  max-height: 650px;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 280px; */
  /* border: 2px solid yellowgreen; */
  background: linear-gradient(to bottom, rgba(255, 179, 14, 0.49), rgba(194, 153, 40, 0.1)), url(./img/trianglify.svg);
  background-color: rgba(194, 153, 40);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 60px;
  overflow: hidden;
  position: fixed;
  top: 0;
  background-color: rgba(194, 153, 40, 0.8);
}

.nav a {
  color: rgb(242, 242, 242);
}

.nav-inner {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid rgb(245, 0, 74); */
  width: 100%;
  align-items: center;
}

.logo {
  flex: 1;
  font-size: 34px;
  font-weight: 700;
  /* border: 1px solid black; */
  margin-left: 12px;
}

.logo span {
  font-size: 20px;
  font-weight: 300;
}

.text-right {
  font-size: 20px;
  font-weight: 300;
}

.text-right > * {
  margin: 0 12px;
}

.user-icon {
  font-size: 22px;
  margin-right: 6px;
}

.hero-left {
  width: 50%;
  color: #424241;
  /* border: 1px solid black; */
}

.hero-left h1 {
  font-size: 96px;
}

.hero-left h1 span {
  width: 50%;
  font-size: 72px;
  font-weight: 300;
}

.hero-left p {
  font-size: 36px;
  margin-top: -1.8em;
}

.sign-up-btn {
  height: 190px;
  width: 300px;
  padding: 12px;
  border-radius: 12px;
  background: #64613E;
}

.hero-right {
  margin-top: 42em;
  /* border: 1px solid black; */
}

.note-image {
  height: 462px;
  width: 466.39px;
  background-image: url(./img/note.svg);
  background-size: contain;
}

/* ------------------------------------ */
/* -------------- INTRO  -------------- */
/* ------------------------------------ */

.intro-content {
  display: flex;
  flex-wrap: wrap;
  /* height: 100vh; */
  height: 550px;
  justify-content: center;
  margin-top: 40px;
  color: #424241;
}

.intro-left {
  width: 50%;
}

.intro-left h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 28px;
}

.intro-left p {
  font-size: 24px;
  font-weight: 300;
  width: 410px;
  line-height: 1.39;
}

.triangles-art {
  width: 330px;
  height: 90px;
  background-image: url(./img/Triangles.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.intro-right {
  width: 400px;
}
